*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background-image: url('../img/fondo.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
}


.cuerpo{
    background-color: rgba(256,256,256,0.8);
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px 10%;
    margin: 10vh auto;
    width: 85%;
}
.cuerpo h1,#contenedor h1 {
    color: #957941;
    text-align: center;
}
.cuerpo a {
    margin: 30px 0;
    display: block;
    color:#db960a;
}

#contenedor {
    font-size: 20px;
}

#contenedor .miDiv {
    background: rgba(256,256,256,0.9);
    position: absolute;
    width: 90%;
    top:10vh;
    left: 5%;
    padding: 50px;
    box-shadow: 0 0 10px #db960a;
    border-radius:24px;
}

#contenedor .miDiv p{
    text-align: justify;
    margin: 25px 0;
}

#contenedor a {
    background: #957941;
    color: white;
    padding: 10px 15px;
    font-size: 24;
    border-radius:24px;
    position: absolute;
    top: 10vh;
    right: 5%;
}

#contenedor a:hover {
    background: #db960a;
    color: black;
}
