*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background: black;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
}


.cuerpo{
    text-shadow: 2px 2px 5px black;
    background-color: #333333;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(256, 256, 256, 0.5);
    padding: 30px 10%;
    margin: 10vh auto;
    width: 90%;
}
.cuerpo h1,#contenedor h1 {
    color: white;
    text-align: center;
}

.cuerpo a {
    width: 100%;
    padding: 5px 0;
    border-bottom: 2px solid #957941;
    margin: 15px -3px;
    display: inline-block;
    color:#db960a;
}

.cuerpo a:hover{
    border-bottom:2px solid #db960a;
}

#cambiarModo {
    background: white;
    color: black;
    padding: 10px 15px;
    font-size: 24px;
    border-radius:24px;
    position: fixed;
    top: 10vh;
    left: 5%;
}

#contenedor {
    font-size: 20px;
}

#contenedor .miDiv {
    background: black;
    position: absolute;
    width: 90%;
    top:10vh;
    left: 5%;
    padding: 50px;
    box-shadow: 0 0 10px #db960a;
    border-radius:24px;
}

#contenedor .miDiv p{
    color:white;
    text-align: justify;
    margin: 25px 0;
}

#contenedor a {
    background: #957941;
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    border-radius:24px;
    position: fixed;
    top: 10vh;
    right: 5%;
}

#contenedor a:hover {
    background: #db960a;
    color: black;
}
